# Binarios (están en src/)
src/master
src/view
src/player

# Objetos y temporales de compilación
src/*.o

# Carpetas de editor/build/tests
.vscode/
build/
test/

# Basura del SO / editor
.DS_Store
*.log
*.out
*.bak

# Historiales locales que no van al repo
.bash_history
.bashrc
.viminfo
